{% extends 'base.html.twig' %}

{% block title %}message{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="row">
        <h3 class=" mb-4"><b>PRIVATE MESSAGES</b></h3>
        {% for item in recipient_messages.sender %}
            <div class="col-md-8 p-3 mb-2">
                <img src="https://via.placeholder.com/55" alt=""><b><span class="bg-primary text-white rounded p-1">{{item.sender.login}}</span><br><br>
                <span class="bg-info text-white rounded p-3">{{item.message}}</span></b>
            </div> 
        {% endfor %}
        {% for item in recipient_messages.receiver %}
            <div class="col-md-8 p-3 mb-2">
                <img src="https://via.placeholder.com/55" alt=""><b><span class="bg-primary text-white rounded p-1">{{app.user.login}}</span><br><br>
                <span class="bg-success text-white rounded p-3">{{item.message}}</span></b>
            </div> 
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-8 mt-3">
            {{form_start(form)}}
            {{form_end(form)}}
        </div>
    </div>
</div>
{# {{form_start(form)}}
                <h3 class=" mb-4"><b>PRIVATE MESSAGES</b></h3>
                    <div class="row mb-1">
                            {{dump(form)}};
                        
                    </div>
                </div>
            {{form_end(form)}} #}
{% endblock %}
